In [1]:
import numpy as np
import pandas as pd
from env import get_db_url

In [2]:
students = pd.read_sql('SELECT * FROM students', get_db_url('tidy_data'))

In [3]:
students.head()

         date                 var          val
0  2019-02-04   n_late_from_break     4.028120
1  2019-02-04  coffee_consumption  5255.409740
2  2019-02-04      classroom_temp    67.000000
3  2019-02-05   n_late_from_break     2.101998
4  2019-02-05  coffee_consumption  8603.704719